@font-face {
  font-family: "vaziri";
  src: url("../assets/fonts/Vazir.eot");
  src: url("../assets/fonts/Vazir.woff") format("woff");
}

body {
  padding: 20px;
  font-family: "vaziri", Arial, sans-serif;
  font-weight: normal;
}

.item1 {
  width: 50%;
}

.item1 .search-section {
  position: relative;
  width: 100%;
}

.item1 .search-section i {
  position: absolute;
  top: 12px;
  right: 5px;
  color: #a1a3a8;
}

.item1 .search-section .input-search {
  background-color: #f0f0f1;
  padding-right: 35px;
}

.item2 .authentication {
  border: solid 2px #e0e0e2;
  border-radius: 8px;
}

.item2 .authentication a {
  text-decoration: none;
  color: black;
  margin: 3px 10px;
}

.item2 .authentication i {
  margin: 3px 10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.item2 .cart {
  border-right: solid 1px #e0e0e2;
}

.item2 .cart i {
  font-size: x-large;
  padding-left: 25px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.toolbar .navbar {
  font-size: 13px;
}

.toolbar .navbar .dropbtn {
  font-size: 14px;
  border: none;
  background: none;
}

.toolbar .navbar .dropdown {
  position: relative;
  display: inline-block;
}

.toolbar .navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.toolbar .navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.toolbar .navbar .dropdown-content a:hover {
  background-color: #ddd;
}

.toolbar .navbar .dropdown:hover .dropdown-content {
  display: block;
}

.toolbar .navbar .dropdown:hover .dropbtn {
  color: #3e8e41;
}

.toolbar .col-two {
  cursor: pointer;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolbar .col-two img {
  width: 13px;
  margin-left: 8px;
  margin-bottom: 4px;
}

.toolbar .col-two span {
  color: #424750;
}

.banner-slider {
  position: relative;
  height: 350px;
  /* Slideshow container */
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* The dots/bullets/indicators */
  /* Fading animation */
}

.banner-slider * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner-slider .slideshow-container {
  position: relative;
  margin: auto;
  height: 100%;
}

.banner-slider .mySlides {
  display: none;
}

.banner-slider .prev,
.banner-slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.banner-slider .prev {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.banner-slider .next {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.banner-slider .prev:hover,
.banner-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.banner-slider .all-dot {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.banner-slider .dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.banner-slider .active,
.banner-slider .dot:hover {
  background-color: #717171;
}

.banner-slider .fade1 {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  height: 100%;
}

.banner-slider .fade1 img {
  height: 100%;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.part4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  position: relative;
}

.part4 img {
  scale: 0.35;
}

.part4 p {
  font-size: 12px;
  margin-top: -35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part4 .more {
  position: relative;
}

.part4 .more .more-pic {
  scale: 0.8;
  background-color: #f0f0f1;
  border-radius: 50%;
  padding: 12px;
  margin-top: 0;
}

.part4 .more .more-part4 {
  position: absolute;
  top: 114px;
  right: 23px;
}
/*# sourceMappingURL=style.css.map */