$black-medium: #424750;

@mixin setFlex($justify: flex-start, $align: center, $fDirection: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $fDirection;
}

@font-face {
  font-family: "vaziri";
  src: url("../assets/fonts/Vazir.eot");
  src: url("../assets/fonts/Vazir.woff") format("woff");
}
body {
  padding: 20px;
  font-family: "vaziri", Arial, sans-serif;
  font-weight: normal;
}

// Style of header part

.item1 {
  width: 50%;

  .search-section {
    position: relative;
    width: 100%;
    i {
      position: absolute;
      top: 12px;
      right: 5px;
      color: #a1a3a8;
    }
    .input-search {
      background-color: #f0f0f1;
      padding-right: 35px;
    }
  }
}

.item2 {
  .authentication {
    border: solid 2px #e0e0e2;
    border-radius: 8px;
    a {
      text-decoration: none;
      color: black;
      margin: 3px 10px;
    }
    i {
      margin: 3px 10px;
      transform: rotateY(180deg);
    }
  }
  .cart {
    border-right: solid 1px #e0e0e2;
    i {
      font-size: x-large;
      padding-left: 25px;
      transform: rotateY(180deg);
    }
  }
}

.toolbar {
  @include setFlex(space-between, center, row);
  .navbar {
    font-size: 13px;

    .dropbtn {
      // background-color: red;
      // color: white;
      // padding: 16px;
      // font-size: 16px;
      font-size: 14px;
      border: none;
      background: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      color: #3e8e41;
    }
  }

  .col-two {
    cursor: pointer;
    font-size: 13px;
    display: flex;
    align-items: center;
    img {
      width: 13px;
      margin-left: 8px;
      margin-bottom: 4px;
    }
    span {
      color: $black-medium;
    }
  }
}

.banner-slider {
  position: relative;
  height: 350px;
  * {
    box-sizing: border-box;
  }

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
    height: 100%;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .prev {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .next {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* The dots/bullets/indicators */
  .all-dot {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade1 {
    animation-name: fade;
    animation-duration: 2.5s;
    height: 100%;

    img {
      height: 100%;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
}

.part4 {
  @include setFlex(space-between, center, row);
  text-align: center;
  position: relative;
  img {
    scale: 0.35;
  }

  p {
    font-size: 12px;
    margin-top: -35px;
    align-items: center;
  }

  .more {
    position: relative;
    .more-pic {
      scale: 0.8;
      background-color: #f0f0f1;
      border-radius: 50%;
      padding: 12px;
      margin-top: 0;
    }

    .more-part4 {
      position: absolute;
      top: 114px;
      right: 23px;
    }
  }
}

